body
{
    background-color: #C9C435;
    overflow: hidden;
    height: 100%;
}

.logo
{
    z-index: 1;
    margin: 25%;
    margin-top: 10%;
}

img
{
    width: 100%;
}

.controlsBlock
{
    position: absolute;
    margin: 10%;
    top: 20%;
    width: 80%;
    height: 50%;
    text-align: left;
    font-size: 500%;
    color: white;
    border-collapse: collapse;
}

.easy
{
    margin: 0;
    height: 33%;
    width: 35%;
}

.buttonEasy
{
    margin: 0;
    background-color: #C9C435;
    border: white 15px solid;
    border-bottom: 0;
}

.middle
{
    margin: 0;
    height: 33%;
    width: 35%;
}

.buttonMiddle
{
    margin: 0;
    background-color: #96AE25;
    border-left: white 15px solid;
    border-right: white 15px solid;
}

.hard
{
    margin: 0;
    height: 33%;
    width: 35%;
}

.buttonHard
{
    margin: 0;
    background-color: #158371;
    border: white 15px solid;
    border-top: 0;
}

.alignColumn
{
    width: 10%;
}

.footer
{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: -0.5%;
}

#info
{
    z-index: 9999;
    position: absolute;
    width: 12%;
    left: 3%;
    bottom: 2%;
}

#settings
{
    z-index: 9999;
    position: absolute;
    width: 12%;
    right: 3%;
    bottom: 2%;
}